/**
 * Custom Layout styles based on Docusaurus default.
 */

html,
body {
  height: 100%;
}

.mainWrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

:global(.docusaurus-mt-lg) {
  margin-top: 3rem;
}

:global(#__docusaurus) {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
